{% extends "base.html" %} {% load static %}
{% block title %} 修改文章 {% endblock title %}
{% block content %}

<div class="modify-container">
            <!-- 提交文章的表单 -->
            <form method="post" action="">
                <!-- Django中需要POST数据的地方都必须有csrf_token -->
                {% csrf_token %}
                <!-- 文章标题 -->
                <!-- <div class="modify-title"></div> -->
                
                    <input type="text" name="title" placeholder="标题" maxlength="30" required id="id_title", value="{{article.title}}",
                    style="outline-style: none ;
                    text-align: center;
                    border: 1px solid #ccc; 
                    border-radius: 3px;
                    padding-top: 2vh;
                    padding-bottom: 2vh;
                    width: 30vw;
                    font-size: 20px;
                    font-weight: 700;">
                <!-- 文章正文 -->
                
                <div class="modify-body">
                    <textarea name="body" cols="40" rows="10" required id="id_body" style="height:100%;width:100%; resize: none; margin: none; padding:none">{{article.body}}</textarea>
                    <!-- 提交按钮 -->
                </div>
                <div class="button-div">
                <button type="submit" class="btn btn-primary">修改</button>
                <button type="submit" name = "to_delete" value="on">删除</button>
                </div>
            </form>
        </div>
</div>

{% endblock content %}