@import url("header.css");
@import url("footer.css");
@import url("user/user.css");

/* 设置body跟边界不留空白 */
body{
    padding:0px;
    margin:0px;
    border:0px;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    
}