{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <base href="/">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/user/user_register.css' %}"> -->

</head>
<body style="background: url(https://liwj253-img.oss-cn-beijing.aliyuncs.com/th.jfif);background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 0.8;"> 

<!-- 引入导航栏 -->
{% include 'header.html' %}

<!-- 预留具体页面的位置 -->
{% block content %}{% endblock content %}

<!-- 引入注脚 -->
{% include 'footer.html' %}
</body>
</html>