{% extends "base.html" %} 
{% load static %}
{% block title %}登录{% endblock title %}
{% block content %}
<div class = "login_body">
    <div class = "login_container">
        <div class = "login_container_div_left" ></div>
        <div class = "login_container_div_right" >
            <form action="" method="post">
                {% csrf_token %}
                <div class="login_input_item">
                    {{form.user_name}}
                </div>
                
                <div class="login_input_item">
                    {{form.user_account}}
                </div>
            
                <div class="login_input_item">
                    {{form.password}}
                </div>
                记住  {{form.remeber}}
                <br>
                <p>{{error}}</p>
                <input type="submit" value="登录">
                <a href="/user/register">
                <input type="button" value="注册">
                </a>
                 
            </form>
        </div>
    </div>
</div>

{% endblock content %}
