{% extends "base.html" %}
{% load static %}
{% block title %}修改信息{% endblock title %}
{% block content %}
<div class="modify-body">
    <div class="modify-container">
        <div class="modify-container-div-left">
            <img src="{% static 'media' %}{{cur_user_images.avatar_image.url}}" width="100%">
        </div>

        <div class="modify-container-div-right">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="user_name" placeholder="用户名" maxlength="10" minlength="3" required
                    id="id_user_name" value="{{cur_user_name}}" class="modify-input-item">
                <input type="text" name="user_account" placeholder="用户账号" maxlength="10" minlength="3" required
                    id="id_user_account" value="{{cur_user_account}}" class="modify-input-item">
                <input type="password" name="password" placeholder="原密码" maxlength="20" minlength="6"
                    class="modify-input-item">
                <input type="password" name="password_new" placeholder="新密码" maxlength="20" minlength="6"
                    class="modify-input-item">
                <br>
                
                   头像   &emsp;<input type="file" name="avatar_image" class="covered">
                <br>
                <p>{{error}}</p>
                <input type="submit" value="修改" style="margin-top: 0vh">
            </form>
        </div>
    </div>
</div>
{% endblock content %}