{% extends "base.html" %} 
{% load static %}
{% block content %}
<div class="info-body">
    <div class="info-container">
        <div class="avatar-div">
        <img src="{% static 'media' %}{{cur_user_images.avatar_image.url}}" width="100%" >
        </div>
        <div class="info-div">
            <div class="info-item">
                用户名称  
                {{cur_user_name}}
            </div>
            <div class="info-item">
                用户账号 
                {{cur_user_account}}
            </div>
            
            <div class="info-item">
                <a class="info-a" href="{% url 'user_modify' %}">修改信息</a>    
            </div>
            <div class="info-item">
                <a class="info-a" href="{% url 'article_create' %}">写一篇</a>    
            </div>
        </div>
        <div class="info-content">
            <div class="info-content-item">
                文章列表
            </div>
            {%for article in cur_user_article_list%}
            <div class="info-content-item">
                <a class="info-a" href="{% url 'article_read' cur_user_name article.title %}  ">{{article.title}}</a>
                &emsp;&emsp;&emsp; <a class="info-a" href="{% url 'article_modify' cur_user_name article.title %}  ">修改</a>
            </div>
            {% endfor%}
            <div class="info-content-item">
                <a class="info-a" href="{% url 'article_list' cur_user_name %}">更多</a>
            </div>
        </div>
        
    </div>

</div>
{% endblock content %}
